@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Courier New", Courier, monospace;
}

/* -------------------------------------------------------------------------- */
/*                                   Regular                                  */
/* -------------------------------------------------------------------------- */
@font-face {
}
@font-face {
}
@font-face {
}

/* -------------------------------------------------------------------------- */
/*                                    Bold                                    */
/* -------------------------------------------------------------------------- */
@font-face {
}

@font-face {
}
@font-face {
}

/* -------------------------------------------------------------------------- */
/*                                   Medium                                   */
/* -------------------------------------------------------------------------- */
@font-face {
}

@font-face {
}

/* -------------------------------------------------------------------------- */
/*                                    Mono                                    */
/* -------------------------------------------------------------------------- */
@font-face {
}

@font-face {
}

@layer base {
  :root {
    --bg-primary: #41444a;
    --bg-secondary: #ffffff;
    --bg-tertiary: #000;

    --text-primary: #000;
    --text-secondary: #fff;
    --text-tertiary: #fff;
    --text-for-details: #000;

    --text-font-base: "Courier New", Courier, monospace;
    --text-font-header: "Courier New", Courier, monospace;

    --text-space-base: 0em;
    --text-space-header: 0.1em;

    --text-size-header: 2.25rem;
    --text-size-base: 1rem;
  }
}
